
.realtime {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
//* Reduced from 60px to 40px. *//
.realtime-temp {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color: var(--blackish);
}

//* was 16px 4px *//
.realtime-temp-degrees {
    color: var(--blackish);
    font-weight: bold;
    align-self: flex-start;
    margin-right: 14px;
    margin-top: 3px;
}

.realtime-weather-code{
    color: var(--blackish);
}

//* was 66px *//

.realtime-icon {
    width: 46px;
    height: 46px;
    margin-left: auto;
}
//* was 50px *//
@media only screen and (max-width: 1200px) {
    .realtime-temp {
        font-size: 36px;
        line-height: 36px;
    }

    .realtime-temp-degrees {
        margin-right: 10px;
    }

    .realtime-icon {
        width: 56px;
        height: 56px;
    }

    .realtime-feels-like {
        margin-right: 10px;
    }
}
